# This workflow deploy system tools to development environment

name: Deployment of system tools modules to development env

on:
  push:
    branches: [ "sys_conf", "sys_log", "sys_shd" ]

jobs:
  
  call-setup-python:
    name: Build package ${{ github.ref_name }}
    uses: ./.github/workflows/build_python_package.yml
    with:
      module_name: ${{ github.ref_name }}    
      
  publish-package:
    name: Publish package ${{ github.ref_name }} to PyPi
    # needs: call-~/${{ github.ref_name }}/dist/setup-python
    runs-on: ubuntu-latest
    environment: development
    permissions:
      id-token: write
    # strategy:
    #   fail-fast: false
    #   matrix:
    #     # python-version: ["3.7", "3.9", "3.11"]
    #     python-version: ["3.11"]
    steps:
      - name: Download a single artifact
        uses: actions/download-artifact@v3
        with:
          name:  ${{ github.ref_name }}
          path: ${{ github.ref_name }}/dist/
      
      - name: Display structure of downloaded files
        run: ls -R ${{ github.ref_name }}/dist/
        
      - name: Show path
        run: pwd
      
      - name: Using dir
        run: pwd
        working-directory: ${{ github.ref_name }}/dist/

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@f8c70e705ffc13c3b4d1221169b84f12a75d6ca8
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
          packages-dir: ${{ github.ref_name }}/dist/
