# This workflow will install Python dependencies, run tests and pylint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python Module Analysis and Test

env:
  MODULE: sys_conf

on:
  push:
    branches: [ "sys_conf" ]
  pull_request:
    branches: [ "develop" ]

jobs:
  call-setup-python:
    runs-on: ubuntu-latest
    environment: development
    steps:
      - name: Checkout tools repo
        uses: actions/checkout@v3
        with:
          repository: WattRex/System-Tools
          path: System-Tools
          
      - uses: ./.github/actions/setup_python
        with: 
          module-name: sys_conf
    
      - name: Install module dependencies
        run: |
          if [ -f code/$MODULE/requirements.txt ]; then pip install -r code/$MODULE/requirements.txt; fi

      - name: Lint with pylint
        run: |
          pylint --exit-zero --ignore-pattern=".*\.txt,.*\.yaml, .*\.yml" --rcfile=.vscode/.pylintrc code/$_MODULE/
